.Chat {
  background-color: white;
  display: grid;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto Light";
}

.message-list {
  height: 76vh;
  width: 100vw;
  box-sizing: border-box;
  align-items: flex-start;
  background-color: white;
  overflow: scroll;

}

.message-list::-webkit-scrollbar {
  width: 15px;
  margin-left: 5px;
}

.message-list::-webkit-scrollbar-track {
  background: white;
}

.message-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

.message-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-container{
  display: block;
  width: 100%;
  padding-bottom: 60px;
  font-size: 18px;
}

.sent-msg {
  display: block;
  float: right;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #3e4dea;
  border-radius: 0px;
  color: white;

}

.received-msg {
  display: flex;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 0px;
  color: white;
}

.message-username {
  margin-left: 5px;
  color: darkgrey;
}

.message-text {
  margin-left: 5px;
  display: inline;
}


.upper-bar {
  height: 14%;
  height: 14vh;
  width: 100vw;
}

.list-of-messages {
  list-style: none;
}

.back-to-chats {
  height: 100%;
  outline: none;
  margin-left: 15px;
  background-color: white;
  border: 0;
  float: left;
  color: darkgrey;
  font-weight: bold;
  font-size: 18px;
}

.sign-out {
  height: 100%;
  outline: none;
  margin-right: 15px;
  background-color: white;
  border: 0;
  float: right;
  color: darkgrey;
  font-weight: bold;
  font-size: 18px;
}

.upper-bar-button-container {
  height: 50%;
}

.employee-name {
  color: #636363;
  margin-left: 30px;
  font-weight: bold;
  font-size: 200%;

}

.employee-name-container {
  display: block;
  height: 50%;
  position: relative;
}

.message-label {
  color: #3e4dea;
  margin-left: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.message-label.enabled{
  color: white;
  margin-left: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.message-form {
  height: 5vh;
  width: 100vw;
  display: inline-flex;
  background-color: white;
  border-color: white;
  color: darkgrey;
  margin-left: 5px;
}

.message-form input{
  outline: none;
  border: none;
  margin-left: 10px;
  width: 100%;
}